[2018-08-05 16:05] corona10 opened #2 "Recursive printing of REPR List, Dictionary, Tuple"
Expected:
[code]

Actual behavior:
[code]

[2018-08-05 16:59] ncw commented on #2
Yes that needs fixing :-)

Want to have a go at fixing it? It probably needs repr to keep a map of visited items

[2018-08-05 17:05] corona10 commented on #2
That's right approach. AFAIK, some more C API should be implemented which are related to repr_enter and repr_left :)

[2018-08-06 02:10] corona10 commented on #2
@ncw Anyway, I will take a look this issue. :)

[2018-08-23 17:02] bbrodriges opened #10 "How to implement object methods?"
I want to try to implement `hashlib` (PR will follow).

For now I have implemented `Type`, `module`, module method and some "magic methods", but I cannot figure out how to implement object methods such as `update`, `hexdigest` etc.

Here is my WIP [implementation](https://github.com/bbrodriges/gpython/compare/master...stdlib_hashlib).

Thanks in advance.

[2018-08-23 17:07] sbinet opened #11 "builtin: implement help"
right now:

[code]

[2018-08-23 17:08] sbinet opened #12 "builtin: implement dir"
right now, `gpython` fails with:

[code]

[2018-08-28 16:29] ncw commented on #10
This isn't particularly elegant at the moment, but see `py/generator.go` for an example.  You basically add the method objects do the type's Dict by hand.

[code]

[2018-08-30 00:04] raff opened #14 "all([]) should return false"
From python documentation at https://docs.python.org/3/library/functions.html#all
   Return True if all elements of the iterable are true (or if the iterable is empty).

[2018-08-30 05:26] corona10 commented on #14
@raff

Hi, raff on my gpython it works well.

[code]

Is there any other issue which you intended?

[2018-08-30 05:33] raff commented on #14
Sorry, I meant it should return True, according to python specs. See the link and the python implementations in there.

[2018-08-30 13:52] sbinet opened #19 "meta: cross-check with CPython"
as shown in #14, we should cross-check that our tests agree with some reference CPython version (presumably, CPython-3.)

so we should probably put some wiring so that each `test.py` script is run with both `gpython` and `cpython`.

[2018-08-30 14:52] ncw commented on #19
That is what the [py3test.py]https://github.com/go-python/gpython/blob/master/py3test.py) binary does.

It currently requires python 3.4 though maybe that should be relaxed to python3?

We should probably fix it and plumb it into the CI!

[2018-08-30 15:40] sbinet commented on #19
ah! :)

yes, we should probably do that.

[2018-08-31 13:17] #14 closed

[2018-09-02 13:00] corona10 opened #23 "Duplicated error type."
## Got:
[code]

## Expected:
[code]

[2018-09-03 12:49] ncw commented on #19
I've implemented this in eaa7d286460777b536b404e09a1bd352f2012a78 (oops forgot the link to the issue).

[2018-09-03 12:49] #19 closed

[2018-09-06 17:38] raff opened #24 ""print" should use __str__ or __repr__ when available"
The builtin print() method is currently printing values like this (see https://github.com/go-python/gpython/blob/master/builtin/builtin.go#L192):

    fmt.Printf("%v", v)

The result is that some python objects are printed differently than expect:

None: print {}
True: print true
False: print false

The print method should probably use __str__ or __repr__ when available. As an alternative all type

[2018-09-07 04:15] raff opened #25 "class definition doesn't accept empty lines between class methods"
This definition works:

    class X(object):
      def __init__(self, x):
        self.x = x
      def __str__(self):
        return "my name is %s" % self.x

This doesn't:

    class X(object):
      def __init__(self, x):
        self.x = x

      def __str__(self):
        return "my name is %s" % self.x

Both are accepted by C Python.

[2018-09-08 07:53] ncw commented on #24
This was fixed in #26 - thank you @raff

[2018-09-08 07:53] #24 closed

[2018-09-08 19:32] raff opened #28 "built-in objects __exit__ method is not picked up in contexts"
I added the M__exit__ method to file to support "with open() as f" but the execution fails as following:

    ...   print("hello")
    ...
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
        FIXME line of source goes here
    AttributeError: AttributeError: "'file' has no attribute '__exit__'"

The code in this case is only checking for the __exit__ attribute i

[2018-09-10 17:02] #28 closed

[2018-09-10 17:02] ncw commented on #28
I have fixed that now so I think it should work properly and call the __exit__ !

[2018-09-10 19:27] ncw commented on #25
That doesn't work in the python3 REPL either.  I tried pasting your example with the blank line and I get the same errors.

I think this is a known problem with the python REPL: eg https://stackoverflow.com/questions/37891771/python-interactive-interpreter-has-problems-with-blank-lines-when-i-paste-in-a-s

So I think gpython is following cpython here, unless I mis-understand what you mean.

[2018-09-10 20:46] raff commented on #25
Given a file classes.py:

    class X(object):
        def __init__(self, x):
            self.x = x

        def __str__(self):
            return "my name is " + str(self.x)

    x = X("hello")
    print(x)

    x = X(42)
    print(x)

This works:

    $ python3.4 < classes.py
    my name is hello
    my name is 42

This doesn't:

    $ go run main.go < classes.py
    Gpython 3.4.0
    Compile e

[2018-09-12 07:26] ncw commented on #25
Ah, I see - thanks for the explanation.

What appears to be happening is that `gpython` is starting the interactive interpreter when you do `gpython < file.py` whereas when you do `python3 < file.py` it doesn't start the REPL, it treats the input as a proper file.

From https://docs.python.org/3/using/cmdline.html

Which I think agrees with the above.

[2018-09-14 09:47] knightXun opened #29 "want to be a member of gpython"
I read cpython twice. i think gpython is awesome, can i be a member of gpython? I will do my best.

[2018-09-14 09:54] sbinet commented on #29
Welcome!

To become a member of gpython is extremely easy: just send a PR which makes gpython even better (by implementing more of the Python language, the Python standard library, or fixing a bug.)

[2018-09-14 09:54] sbinet commented on #29
Also we have a forum on Google groups (go-python)

[2018-10-09 14:31] raff opened #30 "py.Complex is missing __str__ and __repr__"
Printing a complex number displays the py.Complex type instead of the real+imag values:

    <complex64 instance at %!p(py.Complex=(3+1i))>

[2018-10-10 20:33] ncw opened #32 "Errors are suppressed in generator comprehensions"
[code]

Which should have output

[code]

[2018-10-28 20:04] abduld opened #33 "generate python source code"
given an ast, how does one generate the corresponding python source code

thank you

[2018-11-23 08:16] corona10 commented on #23
@ncw
https://github.com/go-python/gpython/blob/50cd487693e5d8e65095a2591929959c48d22d1d/vm/eval.go#L105

https://github.com/go-python/gpython/blob/50cd487693e5d8e65095a2591929959c48d22d1d/vm/eval.go#L104
To fix this issue, `vm.curexc.Type`should not be refernced since `vm.curexc.Value`
already build the exception message.

But I don't know where it works, can you guide it please?
Thanks!

[2018-11-23 20:47] ncw commented on #23
I think you want to change this in `py/exception.go`

[code]

[2018-11-24 05:18] corona10 commented on #32
@ncw I will take a look this issue

[2018-11-24 12:36] #23 closed

[2018-11-27 14:01] ncw commented on #32
@corona10 are you getting anywhere with this? Do you need help?

[2018-11-28 00:19] corona10 commented on #32
@ncw
https://github.com/go-python/gpython/blob/2609237ddef238242467618344ca5fb6775302e8/py/generator.go#L100
Well, I tracked the code and I found that something issue in this side.
But I don't know which is the main reason for this issue yet.

So if you already solve this issue, Then please upload a PR for this issue :)
I can learn something from your PR.

[2018-11-28 10:55] ncw commented on #32
I haven't figured it out either!

But yes, it is probably something to do with making a new Vm Frame and the errors being suppressed there rather than propagated.

[2018-11-28 11:29] corona10 commented on #32
@ncw
I found the main reason for this bug.
I will upload the PR soon

[2018-11-28 11:34] ncw commented on #32
Great.  Don't forget a failing test case :-)

[2018-11-29 11:15] #32 closed

[2018-12-24 15:46] corona10 opened #39 "runtime: Should support len(range(255)"
During I am writing a proposal for boxed runtime type.
I found that gpython does not support it yet.

[code]

[2018-12-24 16:23] corona10 opened #41 "runtime: Wrong implementation with range"
During I add a test for #40.
I found that this syntax does not work as I expected.

[code]

[2018-12-26 14:13] corona10 opened #44 "gpython: Display build information and support some builtin variable"
Likewise, PyPy3, if we can display build information such as commit information, go version.
it will be awesome.

[code]

Also, we need to implement `copyright`, `credits`and `license` as a built-in attribute.

[2018-12-26 14:14] corona10 commented on #44
@ncw @sbinet
What do you think about displaying build information?
And it will be able to implement it without 3rd party library?

[2018-12-26 15:47] #39 closed

[2018-12-26 16:00] ncw commented on #44
This is slightly awkward to do as it can't be done using the standard `go build` (at least I haven't figured out how!)

I do this in rclone and I have a Makefile which does the build

https://github.com/ncw/rclone/blob/39eac7a7658494a5404dfd75c80f0be3e6d222b2/Makefile#L35

If you build rclone not via the Makefile you get a `v1.45-DEV` build

I'm pretty sure you can do this with go-releaser which w

[2018-12-27 04:19] corona10 commented on #44
@ncw
Yeah looks like `rclone` way is the best way from now on.
@sbinet  Do you have any ideas?

[2018-12-28 03:46] corona10 opened #46 "range: 'range' object is not subscriptable"
Range object should support get_item operation :)

## gpython

[code]

## python3
[code]

[2018-12-28 18:06] sbinet commented on #44
not sure there's anything else than what `rclone` does.
`go generate` isn't run by default, so that's out.

if we wanted to also support Windows, we could perhaps use `mage`, but that's another tool to install...
so, yeah, the `rclone` way is fine by me.

[2018-12-29 12:16] #41 closed

[2018-12-29 12:18] ncw commented on #46
I can't imagine why you'd want to do that, but yes it looks like a bug :-)

[2018-12-29 12:35] corona10 commented on #46
@ncw
Oh, I am finding out feature with not compatible with cpython3.
so sometimes I write something strange code.
And this bug was found from practical code and this code is just an essential part of that bug to reproduce.

[2018-12-29 12:50] ncw commented on #44
Probably the simplest thing is to go with what [goreleaser provides us with](https://goreleaser.com/environment/#using-the-main-version):

So make a version.go file with this in

[code]

Then the release builds will have the correct version, commit and date in.  The dev builds will have "dev" "none" and "unknown".

This provides most of what we need here.

Note that we should show the go runtime v

[2018-12-29 13:00] ncw commented on #46
I see!

In idea: at some point we could use [go-fuzz](https://github.com/dvyukov/go-fuzz) to find code which doesn't behave the same way in gpython and python3.

[2018-12-29 13:08] corona10 commented on #46
@ncw Yeah it would be a good choice!

[2019-01-01 05:58] corona10 commented on #44
@ncw LGTM

[2019-01-02 05:48] corona10 commented on #44
Looks like a good first issue for a newbie of this project.
- [ ] Display build information

[2019-01-03 18:07] #46 closed

[2019-01-21 06:12] corona10 opened #49 "gpython: Optimize recursive call"
Thanks to tango and @ncw, we can compare the gpython with other interpreted which are implemented in Go.

fib(35) benchmark is slower than I expected, we can optimize this point later.
(tail call is faster than CPython, I can't believe it!)

[2019-01-21 17:35] ncw commented on #49
:-)  I suspect the times recorded for the tail recursive test are dominated by startup times rather than actually calling the functions.

Perhaps we should have some internal benchmarks which run python code using the go benchmark framework?  That would give us a solid baseline to work with.

So we could have a `benchmarks` directory with python programs and a little driver to run them through the

[2019-01-22 01:31] corona10 commented on #49
@ncw Looks like we have to create a new issue for build benchmark framework for gpython

[2019-01-22 01:33] corona10 opened #50 "gpython: Create benchmarks code"
See #49

[2019-01-22 12:45] #50 closed

[2019-02-12 15:44] corona10 opened #53 "gpython: Implement iter()"
TODO
- [ ] Implement callable_iterator
- [ ] Implement iter() builtin

callable_itereator should be implemented before implementing iter() builtin

[2019-02-12 15:47] corona10 commented on #53
[code]

[2019-02-14 10:45] #53 closed

[2019-02-14 18:11] corona10 opened #56 "gpython: Can not retrieve a function attribute value"
## Expected
[code]

## Actual
[code]

[2019-02-16 15:25] #56 closed

[2019-05-17 21:45] kellrott opened #58 "Checking dict keys fails"
In standard python
[code]
In gpython
[code]

[2019-05-18 14:21] ncw commented on #58
Implementing `__iter__` for dict is very useful.

However for `in` to be efficient we should be implementing `__contains__`

https://github.com/go-python/gpython/blob/61059b469f5b520f350d47748e8e9e9b6ccd3306/py/sequence.go#L121-L147

[2019-07-18 02:14] msAlcantara opened #62 "no such file or directory at first time gpython repl"
I installed gpython with the command `go get github.com/go-python/gpython` and when I run in the first time in repl I get the next message error:
`Failed to open history: open /home/matheus/.gpyhistory: no such file or directory`
the repl do not stop working, and not presented no problem at first, but should be nice dont show this kind of error since that this does not hassles the gpython experien

[2019-07-22 15:26] ncw commented on #62
I think this would be quite easy to fix - fancy having a go?

[2019-07-22 15:29] msAlcantara commented on #62
Yeah, I can do this

[2019-07-22 22:00] #62 closed

[2019-07-24 02:23] yanchenghust opened #64 "Is there anything like GIL?"
As we know, CPython implemention has a GIL.
How about gpython?

[2019-07-24 11:00] ncw commented on #64
gpython does not contain a GIL.

However it does not, as yet allow any sort of multiprocessing.

It is my plan to make a threading library which under the hood creates go routines.  At this point it will need some sort of locking...

[2019-07-29 13:50] sbinet commented on #64
by `threading` library, you mean exposing a `gpython` module to the Python interpreter, right?

the [skylark](https://godoc.org/github.com/google/skylark) Python-like VM has actually the concept of a `Thread` state that is passed to each API call...

- https://godoc.org/github.com/google/skylark#Thread

WDYT about this?

[2019-07-29 21:00] ncw commented on #64
Yes.  My plan was to make a low level module exposing some go features like goroutines, channels, locks etc, and use that low level module to build up something which was API compatible with the `threading` module.

That sounds like a job for a context passed everywhere.  We've already identified somewhere else that would be very useful!  Go having no thread local storage makes it very difficult t

[2019-07-30 07:47] sbinet commented on #64
SGTM. (we should probably make sure extracting informations and/or restoring state from that `context.Context` isn't showing abysmal performances, though.)

[2019-07-30 13:06] ncw commented on #64
Hmm, yes! AFAICS context is implemented as linked list, so the lookup isn't very efficient.

[2019-08-10 19:42] PythonLinks opened #68 "Batteries Now Included"
The ReadMe.md says:

 `
It does not include very many python modules as many of the core modules are written in C not python. The converted modules are:

builtins
marshal
math
time
sys
`

What you need is the Ourobours library.

And here is the list of Modules.
https://github.com/beeware/ouroboros

Files     1488
Lines Of Code     419872

That should move this project very far forward.

[2019-08-10 20:02] PythonLinks opened #69 "Multiple Interpreters"
Here is the PEP for multiple interpreters.
https://www.python.org/dev/peps/pep-0554/

It was rumored to be in Python3.7.   Next I heard it would be in 3.8, then 3.9,  now the Pep says provisional in 3.8,  and they will make a decision about 3.9.  I  would not be surprised if multiple interpreters shipped first in  gPython.

And I suspect that the cPython version will be one interpreter per OS thre

[2019-08-11 10:29] ncw commented on #68
Yes that project looks very interesting indeed!

I did a quick experiment to see what top level modules gpython could import from ouroboros right now to get an idea what modules ourobouros is expecting from the host python.

[code]

So 17/170 however the failures are weighted heavily to just a small number of things

[code]

So it looks like there would be some easy wins to get more of it working.

[2019-08-11 10:37] ncw commented on #69
My plan is to implement a "go" modules with some low level support for go facilities
- go routines
- channels
- mutex
- select (maybe)

This could then be used to make some higher level constructs eg the threading library.

My plan is to make a new interpreter for each goroutine so they can run together without locking.  I'm not sure that is exactly the level at which the PEP you linked works but

[2019-08-11 12:03] corona10 commented on #68
I can help you Let s take a look!

[2019-08-11 12:16] corona10 commented on #69
@ncw If we implement this feature based on goroutine, I think this feature can be unique to gpython. I like this issue.

[2019-08-12 18:07] ncw commented on #68
That would be fantastic!  Having ouroboros as a target to make work should focus our mind on things to fix.

[2019-08-12 18:51] PythonLinks commented on #69
Sounds great!

Mutex can wait for later.  It is my belief that Erlang does not support Mutex.
Select would be awesome, Erlang has it, but maybe that can also be later.
Initially we Python developers could write some custom code
to process the channel inputs.  But we cannot write channels nor go routines.

I would love to read your plan.   I need to learn more about how Go implements  Select.  Impl

[2019-08-30 14:08] necrose99 opened #71 "Cython support in go.."
https://github.com/go-python/gopy

https://github.com/DataDog/go-python3

Might prove useful.

[2019-08-30 14:15] necrose99 commented on #71
https://github.com/google/grumpy seems dead for the moment..

However the others emit cython bindings for golang..

https://github.com/joncatanio/cannoli is the rust equivalent.

[2019-09-08 15:10] HyeockJinKim opened #72 "SyntaxError of global declaration don't stop program"
[code]
This code generate syntax error, but gpython doesn't stop program

### Expected Result
[code]

### Actual Result
[code]
SyntaxError in python3 is Error, not warning. So I think it should be modified.

[2019-09-08 15:10] HyeockJinKim commented on #72
If this issue is valid, can I take it?

[2019-09-08 17:13] ncw commented on #72
Interesting, that behaviour has changed from python3.4 to python3.7

Gpython is following python3.4 for the moment so it should be generating a SyntaxWarning

[code]

[code]

Happy to have help, so yes!

[2019-09-08 21:25] corona10 commented on #72
@ncw
FYI,
@HyeockJinKim is a mentee of OSS program name `Contributhon` of Korea government.
It's a similar program GSoC.
I am mentoring @HyeockJinKim for a month.

There are also some people(4-5) who have contributed for the first time gpython project.
so they need our help too.

And I am going to assign an issue to them with `Contributhon 2019`tag. (It is the program name)

[2019-09-08 21:29] corona10 commented on #72
@ncw
FYI,  @HyeockJinKim is a mentee of OSS program name `Contributhon` of Korea government.
It's a similar program like GSoC.
(A few months ago I posted a mailing list about [this prgram](https://groups.google.com/forum/#!topic/go-python/i7C-1nDiwdU) )
I am mentoring @HyeockJinKim for a month.

There are also some people(4-5) who want to contribute gpython project for the first time.
so they need

[2019-09-08 21:33] corona10 commented on #72
cc @sbinet

[2019-09-09 14:08] corona10 opened #73 "Implement bool.real, bool.imag bool.conjugate()"
There are some attributes that should be implemented for gpython.

## Expected
[code]

## Actual
[code]

[2019-09-09 14:09] corona10 commented on #73
@ncw I am going to assign this issue to the contributhon 2019 participants

[2019-09-09 14:14] parkchansoo commented on #73
I want to take a look at this issue 🙌

[2019-09-09 14:16] corona10 commented on #73
@parkchansoo
Please go ahead.
Here is a similar code you have to look at.

https://github.com/go-python/gpython/blob/7bc40057dc66c0ff15bb860c107b3c4664bc7b04/py/complex.go#L300

[2019-09-09 22:03] ncw commented on #72
Fantastic new @corona10 - what a great project! Ping me on an issue if you need help :-)

[2019-09-10 07:37] sbinet commented on #72
and welcome in the wonderful world of mentoring :)

[2019-09-10 13:38] tim-st opened #75 "How does format string work with `$`?"
I'm [currently implementing](https://github.com/tim-st/gpython/commit/ffb374f6ae4c3e291f1fdefc235bc03f34727bbc) `sorted`, the signature is:
[code]

It already works as expected when passing either exactly one argument or all three.
When I only pass the first and the third, the third is interpreted as the second.
[code]

I think my format string for `py.ParseTupleAndKeywords` should be `"O|$Op:sort

[2019-09-10 13:57] corona10 opened #76 "Implement set operation"
These operations should be implemented

[code]

[2019-09-10 14:04] corona10 commented on #76
These operations can be implemented on here based on below code.

https://github.com/go-python/gpython/blob/master/py/set.go#L65

[code]

[2019-09-10 14:08] DoDaek commented on #76
I want to implement this issue

[2019-09-10 14:12] corona10 commented on #76
@DoDaek
I 'd like to recommend implementing `M__and__` first.

[2019-09-11 14:13] HyeockJinKim opened #77 "Slice function of range type must be supported"
[code]
Unlike the list type, the range type does not support the slice function. slice in the range type must be supported.

### Expected result
[code]

### Actual result
[code]

[2019-09-11 14:14] HyeockJinKim commented on #77
If this issue is valid, Can I try this issue?

[2019-09-11 14:32] corona10 commented on #77
@HyeockJinKim go a head :)

[2019-09-11 17:23] HyeockJinKim opened #78 "'#' in python shell make ... until input is received"
[code]
In python shell, `#`, `...` is printed until input is received.
Since `#` is single-line comment, `...` should be printed only once in shell.

The output in python3 is:
[code]

[2019-09-13 17:31] tim-st commented on #75
Seems that also CPython's `PyArg_ParseTupleAndKeywords` doesn't support "keyword arguments only" even when `$` is set, it's still callable as optional argument, so I have to implement it using manual checking of all args.

The other thing mentioned could be a bug, but I test this again, once the implementation is finished.

[2019-09-13 17:31] #75 closed

[2019-09-15 08:51] tim-st commented on #75
Update: I got it working similar like implemented in `min_max` function. It seems the only way here is to process the `args` and `kwargs` using two different ways.
First
[code]
and then the `kwargs`:
[code]
Using this way it's possible two allow the same calling ways like CPython does.
When using the code above also the call order of kwargs is not a problem anymore.

[2019-09-15 10:05] ncw commented on #75
The implementation of `PyArg_ParseTupleAndKeywords` probably isn't 100% compatible with CPythons.. It tends to evolve when needed to make the next thing work!

[2019-09-15 10:42] ncw commented on #78
Yes, this is definitely a bug!

I've created a PR to fix #79

[2019-09-15 10:58] tim-st opened #80 "Ctrl+Z doesn't exit GPython on Windows 10"
Currently it's hard to close the REPL on Windows using standard terminal.
On WSL Ubuntu it works with Ctrl+Z, in Windows nothing happens.

[2019-09-15 11:03] ncw commented on #80
Does CTRL-D exit the REPL under Windows?

I think this might be a bug in https://github.com/peterh/liner/ which gpython uses.

[2019-09-15 11:07] tim-st commented on #80
That's interesting. Ctrl+D does work perfect. Than this can get closed for now, I think.

[2019-09-15 11:07] ncw commented on #76
I wrote the set primitives for gotemplate here: https://github.com/ncw/gotemplate/blob/master/set/set.go

These were based off the python primitives so should work with very little modification other than changing the types.

Feel free to use those here :-)

[2019-09-15 11:11] tim-st commented on #75
Ok, it seems there are some problems with format strings like ""|$Op:funcName". When using optional kwargs only `O` seems to work, others panic on nil error.

[2019-09-15 11:15] ncw commented on #75
Might need fixing up... Would welcome a PR :-)

[2019-09-15 11:35] ncw commented on #80
In windows the exit sequence is CTRL-Z RETURN.  It may be possible to emulate that as well in gpython.

What happens is this

This appears when you press CTRL-Z

And only when you press RETURN after that does the interpreter exit.

So we could emulate this just by looking for a string with CTRL-Z in it maybe.. Not sure exactly how liner would deal with that though.

I'll leave this open as an enha

[2019-09-15 11:54] #72 closed

[2019-09-17 15:38] corona10 opened #85 "Implement set repr"
## Expected

[code]

## Actual
[code]

[2019-09-17 20:18] xarus01 commented on #85
Hi, mind if I try on this issue?

[2019-09-17 23:08] corona10 commented on #85
@xarus01 Please go ahead

[2019-09-20 09:21] HyeockJinKim opened #86 "Implement range object"
## Expected Result
[code]

## Actual Result
[code]
The `__repr__`, `__str__`, `__eq__`, and `__ne__` functions of the `range` object are not implemented.

[2019-09-20 09:22] HyeockJinKim commented on #86
Can I try this issue?

[2019-09-20 09:33] corona10 commented on #86
Yes please

[2019-09-22 00:52] #86 closed

[2019-09-23 02:21] corona10 opened #89 "def a(x=3, b, c) should not be accepted"
But accepted in gpython
it should be raised Syntax error.

## cpython
[code]

[2019-09-23 15:24] tim-st commented on #89
Or more general: kwargs must be declared last. The following currently also works in gpython:
[code]

[2019-09-26 02:23] Sungmin-Joo opened #91 "The problem implementing print in gpython."
Even if sep is not required, the option must be inserted.

**gpython**
[code]

**when fixed code**
[code]

[2019-09-26 15:23] #77 closed

[2019-09-27 04:39] Sungmin-Joo opened #93 "print function's "end" option error in CPython"
The following code writes different string to the stream than in CPython:
[code]

[2019-09-28 15:58] DLOHai opened #95 "Implement list pop method"
Attribute errors occured using list.
​
**gpython**
[code]
​
**python**
[code]

[2019-09-28 16:40] HyeockJinKim opened #96 "Handle the return of non-integer value in __index__ function"
An error should occur when returning a non-integer value from __index__.

### Expected result (cpython)
[code]

### Actual result (gpython)
[code]

[2019-09-28 17:59] ncw commented on #89
I think this is probably a bug in `parser/grammer.y`.  This FIXME looks relevant ;-)

https://github.com/go-python/gpython/blob/4b347aa2bb5acd7fdd2fcb9a52b463f6c5535740/parser/grammar.y#L464

[2019-09-28 18:05] ncw commented on #91
The gpython `print` is fairly minimal at the moment and certainly needs improving.

I think this particular bug is caused by this line doing the argument parsing wrong (not sure exactly why).

https://github.com/go-python/gpython/blob/4b347aa2bb5acd7fdd2fcb9a52b463f6c5535740/builtin/builtin.go#L185

[2019-09-28 18:08] ncw commented on #93
I think this is related to the argument parsing being wrong as identifed in #91

[2019-09-28 19:13] #78 closed

[2019-09-28 19:23] ncw commented on #96
Well spotted :-)

[2019-09-28 19:29] Sungmin-Joo commented on #91
@ncw
There is a temporary way to modify the build_print.
But I don't think it's the right way.
[code]

[2019-09-28 20:08] ncw commented on #91
`py.ParseTupleAndKeywords` should be doing that for us...

The bug must be in this bit of code I think...  No time to investigate further right now - over to you to have a look!

https://github.com/go-python/gpython/blob/8c361a8eb99395b87df36de243df7f4d7b8d07d9/py/args.go#L444-L453

[2019-09-29 02:25] HyeockJinKim opened #98 "Implement slice object"
Currently the slice object is not fully implemented.
Many features, including instance creation, are not fully implemented and must be implemented.

https://github.com/go-python/gpython/blob/8c361a8eb99395b87df36de243df7f4d7b8d07d9/builtin/builtin.go#L91
https://github.com/go-python/gpython/blob/8c361a8eb99395b87df36de243df7f4d7b8d07d9/py/slice.go#L16-L18

### Expected result (cpython)
[code]

[2019-09-29 03:20] Sungmin-Joo commented on #91
when will kewordonly be used?
Could you delete kewordonly and let me put the nil in when ok is "false"?

In this way.
[code]

[2019-09-29 06:18] SanggiHong commented on #76
I found another operation to implement.
[code]

Would it be better to make a new issue?

[2019-09-29 09:05] Sungmin-Joo opened #101 "Found a problem with the args of the Dictionary "items" function."
**Current Results**
in gpython
[code]
in python
[code]

https://github.com/go-python/gpython/blob/af17d7daed3e64897f592923022638280abc0627/py/dict.go#L30-L39

I think we should add an error to this part of the code.

[2019-09-29 09:05] HyeockJinKim opened #102 "NotImplemented comparison generate TypeError"
TypeError occurs when comparing NotImplemented value from execution result.

### Expected result (cpython)
[code]

### Actual result
[code]

[2019-09-29 09:07] tim-st opened #103 "`repr([1, 1.0])` is different from CPython"
CPython:
`repr([1,1.0]) # '[1, 1.0]'`

GPython:
`repr([1,1.0]) # '[1, 1]'`

[2019-09-29 10:26] Sungmin-Joo opened #105 "The "get" function is not implemented in the Dict."
in gpython
[code]

in python
[code]

[2019-09-29 14:25] SanggiHong commented on #85
@xarus01 @corona10 May I take this issue?
I'd like to implement operations of the set, so it would be very helpful if this is implemented before the work.

[2019-09-29 16:12] tim-st commented on #101
For me it works in CPython 3.7.4 as in GPython.

[2019-09-29 16:53] Sungmin-Joo commented on #101
@tim-st
I found a mistake in the code I used in the issue.
Please check again.

[2019-09-29 17:39] tim-st commented on #101
Yes, the code requires the following check at the top:
[code]

[2019-09-30 09:02] HyeockJinKim opened #108 "Dict.__ne__ doesn't return NotImplemented"
Dict.__ne__ doesn't return NotImplemented.

https://github.com/go-python/gpython/blob/af17d7daed3e64897f592923022638280abc0627/py/dict.go#L167-L176

If result of `__eq__` is Not Implemented, `__ne__` should return `NotImplemented`, not `True`

### Expected result (python)
[code]

### Actual result (gpython)
[code]

[2019-09-30 17:05] #103 closed

[2019-10-01 10:25] #96 closed

[2019-10-01 11:05] DoDaek opened #111 "Implement float is_integer method"
## python
[code]

## gpython
[code]

`is_integer()` method does not exist.

[2019-10-02 10:36] DoDaek commented on #111
@corona10
There are built-in functions that are not implemented.
Can I implement them and send PR?

[2019-10-02 12:38] sbinet opened #114 "gpython: leverage runtime/debug.ReadBuildInfo to infer version"
starting with Go-1.12, there's a nifty function [runtime/debug.ReadBuildInfo](https://golang.org/pkg/runtime/debug/#ReadBuildInfo) to extract build informations out of a Go binary.

we could leverage this to display:
[code]

(notice the `(devel)` string that comes out of `debug.ReadBuildInfo().Main.Version`

this could be factored into a `gpython/vm.Version()` function:
[code]

[2019-10-05 02:12] #105 closed

[2019-10-07 09:24] DoDaek opened #116 "Implement string format method"
## python
[code]

## gpython
[code]

Attribute error occured using string.

[2019-10-08 15:12] #108 closed

[2019-10-08 15:15] #98 closed

[2019-10-08 15:22] ncw commented on #114
That is a nice idea :-)  I hadn't seen that function before.

Do you want to submit that as a PR?

Do we need the replace part of the above? How likely is that to happen?

[2019-10-08 15:26] ncw commented on #116
Yes gpython needs this :-)

The specification of [the format language](https://docs.python.org/3/library/string.html#formatspec) is here so it is reasonably complicated to do completely.

[2019-10-11 11:02] corona10 commented on #89
@HyeockJinKim Yes please

[2019-10-11 13:59] DoDaek commented on #116
It may take some time, but I'll work it out.
Thanks for your information :+1:

[2019-10-11 17:31] tim-st commented on #116
@DoDaek
You can have a look (or use it?) [here](https://github.com/slongfield/pyfmt).
The function should be callable using `"".format` and `str.format`

[2019-10-14 03:53] HyeockJinKim opened #118 "Implement dict to receive Object as key, not only String"
https://github.com/go-python/gpython/blob/33327c5231b03c84972bec57262694aebbaa1e84/py/dict.go#L68

Change the dict to receive a hashable object as a key, not just a string.
I will change it so that the object can be looked up through the hash value of the object.

Store the object in the slice and use the map to find the index of the stored object through the hash value.
[code]

Is it ok to implem

[2019-10-14 09:40] corona10 commented on #118
@HyeockJinKim
I 'd like to recommend to implement dict by wrapping the map throw using the delegate pattern.

cc @ncw

[2019-10-14 09:49] corona10 commented on #118
cc @sbinet

[2019-10-14 09:58] sbinet commented on #118
if I am not mistaken, `CPython` dicts are not ordered (there's `collections.OrderedDict` for that.)

so, couldn't we just use `map[Object]Object` at the core of this data structure?

[2019-10-14 10:04] corona10 commented on #118
@sbinet
FYI

He might want to implement this feature.
It is okay that we decide to broken 3.4 compatibilities.
(https://github.com/go-python/gpython/pull/74#issuecomment-531559220)

[2019-10-14 10:12] corona10 commented on #118
@HyeockJinKim
However, as @sbinet commented.
I'd like to recommend you implement unordered key dictionary as the 1st milestone.
That will be enough for the 1st step.

cc @ncw  @sbinet

[2019-10-14 10:14] #85 closed

[2019-10-14 10:14] sbinet commented on #118
I stand corrected :)

ok, then what about:
[code]

(I *think* we can rely on Go's map hashing mechanism)

[2019-10-14 10:18] sbinet commented on #118
and if we want to retain insertion order:
[code]

[2019-10-19 02:15] ashermancinelli commented on #118
Does anyone have a fork for this issue?

[2019-10-19 07:45] corona10 commented on #118
@ashermancinelli please ping to @HyeockJinKim
He might work on this issue :)

[2019-10-19 08:45] HyeockJinKim commented on #118
I'm working on this issue right now.
I will work quickly and PR.

[2019-10-20 05:36] HyeockJinKim opened #120 "Implement Hash of object"
We have to calculate the hash according to the type of Object and return a value.
There is currently `M__hash__` but it is not implemented in any Object.
[code]

First, we have to implement `M__hash__` of numbers and strings(int, float, complex, string).
This is also necessary for the implementation of the dictionary.

[2019-10-20 12:39] xarus01 opened #121 "builtin: implement isinstance"
[code]

[2019-10-21 20:58] ncw commented on #120
I note that in go1.14 the go team have exported the internal hasher

https://github.com/golang/go/commit/bf36219cdd1d354d58107ed8903679f538948154

This makes `uint64` hashes which would work very well for our purpose.

That said we could start with a much simpler hashing function.

[2019-10-25 14:01] ncw commented on #95
Thank you :-)

[2019-11-18 12:30] #101 closed

[2019-11-20 10:00] #121 closed

[2020-01-01 19:47] skx commented on #76
Looks like this bug is can be closed; the appropriate pull-requests linked here were merged :)

[2020-01-01 23:11] #76 closed

[2020-01-13 20:15] dreampuf opened #128 "Concurrency module accessing issue"
In order to capture all `sys.stdout`, I set up a hook before code evaluation and figure out it has to have a lock to avoid the concurrency. I understand the modules play the same way as CPython does. But as a Golang library, I just wondering know if there is any better way to do so.

[code]

[2020-01-14 14:01] ncw commented on #128
gpython doesn't use any locking at the moment - it is expected to be running single threaded.

There isn't a lock you need to take **yet**!

[2020-01-14 18:54] dreampuf commented on #128
Sorry about the partial code example. I have an outer scheduler to invoke this function. It might call multiple times at the same time. The `sys.stdout` might be overwrite if this is no lock.

[2020-01-15 17:05] ncw commented on #128
I'll close this now then as I think your question is answered :-)

[2020-01-15 17:05] #128 closed

[2020-02-10 07:55] PythonLinks opened #129 "gPython's Killer app?"
A killer app is the app that makes the platform take off.  Spreadsheets were the original killer api for the apple2 and PCs.

So what is the killer app for gPython?    I have a  couple of ideas, but I am curious to see what everyone else has to say first.

As part of this thread it would be interesting to discuss the strengths of gPython vs Rust Python and cPython.

I do know that cPython develope

[2020-02-13 06:01] woodyZootopia commented on #129
I am wondering to create a language server for the development of Python, and gPython may be suited for it. The current langservers aren't really good (Palantir's pyls is really slow because it's just piling ready-made plugins and Microsoft's one is only for VSCode). Do you think we can create some fast and decent langserver with gPython?

[2020-02-13 06:02] corona10 commented on #129
Language server will be a great application of gPython

[2020-02-13 07:28] PythonLinks commented on #129
For those who do not know what a language server is:
https://langserver.org/

So I guess every language server client would have their own instance of a python language server running in their own goRoutine.   That makes a lot of sense to me as something best done in gPython.

In fact I need one of these.   The forest wiki includes a Python editor in the browser.  You can see a syntax checking dem

[2020-03-16 08:08] PythonLinks opened #130 "Cancelled: Online gPython Sprint Saturday March 21"
Nobody showed up, so this is cancelled.

This Saturday I will be hosting an online gPython sprint, starting at 10 am Central European time, GMT +1.  If we can find North American volunteer organizers, it can go into the evening in North America.

This sprint has 4 goals.

1.  Improve gPython.  Fix and accept the pull requests, fix the issues, and improve performance.   I want to be able to use mul

[2020-03-16 09:03] corona10 commented on #130
@PythonLinks Great, Although I live in GMT+9, I will participate the sprint if possible.
Thanks for the information

[2020-03-16 10:46] PythonLinks commented on #130
@Corona10
When I organized this I was very mindful of the Asian countries.  But getting up too early will make me less effective.  If you are willing to be an organizer, we can start the sprint at 10 am Korean Time GMT +9, and then restart it at 10 am central European time GMT +1.  Hopefully we can find a North American  coordinator as well.
If anyone  is considering attending, please say so, it e

[2020-03-16 13:47] corona10 commented on #130
@PythonLinks

Sprint event time will be not an issue for me :)
In personal, I 'd like to participate in the sprint with other countries' people.
It will be a great experience if I can participate in this sprint!
https://www.timeanddate.com/worldclock/converter.html?iso=20200321T090000&p1=235&p2=tz_cet

[2020-03-16 16:28] PythonLinks opened #131 "Readme upgrade"
I am about to announce the sprint on Python and GoLang reddits.  We will have a bunch of people coming to take a look, so I would like the readme to be as good as possible before then.  It is already quite good.  Covers all of the important information.  The only thing it lacks is motivation and comparison to other python interpreters.  So here is my attempt at an additional paragraph or two for t

[2020-03-17 09:00] corona10 commented on #131
This feature is not implemented yet,
If we implement the feature, IMHO we can update the README on that time :)

Thanks for the suggestion.

[2020-03-17 09:00] #131 closed

[2020-03-17 09:01] corona10 commented on #129
I think we can update the README file as the application section if someone uses gpython for their project.

I am really happy to accept the PR if someone submits the PR for this.

[2020-03-17 09:01] #129 closed

[2020-03-21 10:00] PythonLinks commented on #130
Nobody, showed up, so I cancelled this event.  Quite the pity.  Please feel free to delete this issue tomorrow,  but maybe leave it up for today, if anyone shows up.

[2020-03-23 09:21] sbinet commented on #130
sad, but not unexpected, considering the current situation worldwide.

don't let this unfortunate event discourage you though!

[2020-03-23 09:21] #130 closed

[2020-05-12 02:38] fuz-woo opened #132 "Is it safe to use gpython interpreter in concurrent processing?"
I've noted that gpython is not support concurrent processing library yet. Is it safe if I use gpython in multi thread then? If not, how should I make it synchronized.

[2020-05-12 16:12] ncw commented on #132
Gpython has no way of making threads (or go routines) yet.

So I guess you are asking about making multiple instances of gpython? I think this should be fine but there may be some global state I'm forgetting about.

In due course I'd like to add a create a go-routine function to gpython. From that point normal go style locking will need to be used to access dictionaries concurrently etc.

[2020-06-14 19:45] sbinet opened #134 "pickle: consider re-using pickle implementation from gopickle"
https://github.com/nlpodyssey/gopickle

[2020-06-18 10:04] PythonLinks opened #135 "gPython's Killer App: A Discord Bot"
For a long time I have been interested in gPython.  GoLang’s CSP just seems so easy to use compared to Python’s Asyincio ( coroutines). But Python has so many great libraries.  They would be great together.  Finally I found a mainstream application for this approach.  A Discord bot.

So I brought up my first discord bot in Python quite painlessly.  But it keeps crashing.  Completely incomprehensib

[2020-06-18 11:34] sbinet commented on #135
speaking only for myself, I do think it's a good idea.

I only know *of* Discord, but not really which protocols it relies on so people could write a bot.
do you know what they are and thus what would be the minimum set of modules/classes/... one would have to implement on the `gpython` side to support that use-case?

[2020-06-18 12:27] PythonLinks commented on #135
Great question.  That is of course a critical question.

There are two parts.  In Go,  there are all the bot libraries that respond to messages.  That should all work.  No problem.

In my application, A message arrives.  If it is a simple message, Go can respond.  If it requires a complex process, specifically if it has a hashtag and a URL, they get passed to Python along with the name and id for

[2020-06-18 14:25] PythonLinks commented on #135
So here is the Googe htmlmeta library
https://github.com/jonlaing/htmlmeta

And here is the Pyhton webpreview library
https://github.com/ludbek/webpreview

Which also does Twitter Card and Schema.

So I think right off the start there is an advantage to using Go with Python.

But maybe I am better off with Go for the Async stuff, and just call python to process the data.   I just need a single Pyt

[2020-06-19 09:56] PythonLinks commented on #135
Thank you for encouraging me to write up my plan.  I new see when to use gPython.  As soon as I start to fight with async bugs.  Much better to put that energy into learning GoLang.  Just in case my Discord bot ever needs to scale.  At first I can call the needed Python libraries as external scripts.  No risk there.  When the load picks up, start using gPython.

[2020-06-20 16:22] PythonLinks commented on #135
So now my basic GoLang discord bot is working.  Infinitely easier than learning and debugging Asyncio.  My question is what should I do next?  The bot recognizes messages with links in them, and will do special processing in python on those messages.  The easiest but computationally slowest  is to just call an external Python Script. It has to fetch some json each time it is called.   More difficu

[2020-06-21 02:05] raff commented on #135
The main problem. of gPython at this point is that it may not have enough of the "standard library" implemented for what you want to do (or for what is needed for the libraries you want to import).

If you were to only use the python "grammar" and implement every external functionality in Go, you can probably use gPython. Basically you would use python as glue code / configuration code (similarly

[2020-06-21 10:31] PythonLinks commented on #135
Thank you.

So the library I want to use is webpreview . Obviously it uses requests and beautiful soup. And beautiful soup requires the standard library.  And therein lies the problem.

Do you know about Ourobouros?
https://beeware.org/project/projects/libraries/ouroboros/

 It is a Python implementation of the Python Standard library.
This is my  posting here,  last August about  Ourobouros .
htt

[2021-02-02 00:50] adam-azarchs opened #136 "Support for newer python syntax"
Our team would find it useful if this package could parse an AST from code conforming to the python 3.8 grammar.

I understand that actually supporting newer python features would be a huge project.  For my use case, I'm using this project to parse python code to work with the AST but don't need to actually interpret it, which is a much more minor proposition.  As far as I know, python 3.8 syntax

[2021-02-02 07:50] sbinet commented on #136
I think being able to parse 3.8 syntax would be great and a welcomed pr.

[2021-02-04 22:52] adam-azarchs commented on #136
Ok, I have a first pass at this in our fork at https://github.com/10XGenomics/gpython/pull/1.  As it stands, it solves  the problems we've run into, however because of the way the unit tests in the repo work, directly comparing the output of dumping the AST from cpython vs gpython, and because I needed to run the tests comparing to 3.8 because there are syntactic differences (mostly things that us

[2021-02-05 18:30] ncw commented on #136
This is a valiant effort :-)

Quite a lot of the tests seem to be failing with

[code]

Indicating something wrong with the install of python 3.8

Probably what we should do is when you've had enough we merge this to a `py3.8` branch then other people can work on fixing stuff.

I have a nasty feeling that the changes will propagate through `compile` too....

[2021-02-05 19:43] adam-azarchs commented on #136
I've been using python3.8 from another location locally.  I'll see if I can get that resolved in the CI.

Yes these changes will propagate through compile as well, unfortunately.  In particular, [where the AST used to assume](https://github.com/10XGenomics/gpython/commit/d3348076fe1112c1f002e9d3288e1145d9d957a3#diff-9dcefbf65d58a909b6cc7332b7985d070382bf920a4b13c7acea4ee91ecdf5acL506) that call ob

[2021-02-06 03:39] adam-azarchs commented on #136
I've fixed up the travis script to properly put the locally-built `python3.8` in the `PATH`, so you can see all of the many resulting failures in all of their glory.  I'd also made changes to many of the tests to make it continue with more test cases after encountering some kinds of errors, and, in a few places, surface a bit more context for debugging.  The largest category of error seems to be
[

[2021-02-17 20:13] alexec opened #138 "Embed into another program"
Is it possible to embed this? Like Otto (https://github.com/robertkrimen/otto).

[2021-02-19 17:15] alexec opened #139 "'str' has no attribute 'find'" (and similar errors)"
I'm importing the builtin package, but I often get errors like this.

What have I done wrong please?

[2021-02-22 09:22] sbinet commented on #138
as can be seen in https://github.com/go-python/gpython/blob/master/main.go#L120, embedding a gpython vm is like:

[code]

ie:
- https://pkg.go.dev/github.com/go-python/gpython/vm#Run

is that too low level an API?

[2021-02-22 09:23] sbinet commented on #139
AFAICT, you've done nothing wrong.
having full Python compliance (even on builtin types), is still a WIP.

[2021-02-22 15:48] alexec commented on #138
I actually figured it out:

https://github.com/argoproj/argo-workflows/blob/master/util/python/python.go

I wrote code to convert Go types into Python types. Is there another way?

[2021-07-31 01:18] stevenleeS0ht opened #140 "No functional exit function."
Consider the following code
[code]

Unable to exit REPL of gpython by function.

[2021-08-06 20:00] drew-512 opened #141 "Embedding Go objects"
Hi friends, love gpython and would be into contributing.  I'm looking to expose a particle physics Go module that I maintain via a module in gpython.  Problem is, Objects in gpython only offer embedded Go methods.  Yes, I suppose I could make a new closure for each Go struct/interface to embed, but we can all agree that is painfully wasteful.

If someone here can give me some guidance on how to ap

[2021-08-07 18:23] drew-512 commented on #141
I think I have it worked through and gpython's design makes life super easy and seems to need docs and high-level utils than much else.   I would be into contributing to this as well as fixes to remove warnings from versions of Go 1.16 and above.  @sbinet @ncw and others, would you prefer I start submitting PRs or otherwise tell me how you'd like to proceed.

[2021-08-07 22:09] sbinet commented on #141
I can carve up some time for reviews.

You could indeed start with a couple of "gardening" PRs.
As you wish :)

[2021-08-08 19:14] drew-512 commented on #141
Sounds good!

In the coming month, I'll be focused on getting an alpha version of the project I described out and established (and confirm that gpython fits the bill, which appears to be the case).  The design and concept of gpython is brilliant and elegant, and as a veteran of a major project that embeds CPython, gpython makes a TON of sense and is WAY easier to be with (and of course coupled wit

[2021-08-08 19:32] sbinet commented on #141
I'd be interested to know what project you are talking about :)
(I am a particle physicist by education, now software engineer trying to percolate some Go in HEP by way of [Go-HEP](https://go-hep.org). Apologies for the shameless plug.)

[2021-08-09 18:47] drew-512 commented on #141
Awesome!  No sorries for coolass work, my friend!  :)

I would like to get to an alpha milestone and when we get some of these recordings done before I share details, if you don't mind.  Otherwise, my OCD brain will be tortured by half baked stuff being out there.  Now that I have gpython up and running, we'll have an alpha of phase I ready to present.  Phase II is using Unity (my other main jam)

[2021-08-11 19:15] drew-512 commented on #141
@sbinet Do you suggest using tag v0.0.3 or master?  If master, does it make sense to make a new tag with v0.0.4?

[2021-08-11 19:29] sbinet commented on #141
For development of gpython, 'master' makes most sense.

I'll tag v0.4.0 when in front of a real keyboard, though. (Tomorrow, Paris time)

[2021-08-20 03:49] drew-512 commented on #141
@sbinet sent you an email

[2021-08-29 18:57] drew-512 commented on #141
@sbinet I emailed you last week and have not heard back so far (and I have a special talent for missing emails).  It would be great to hear back as we build allies for this project and resources arrive to support continued development (including resource allocation to gpython).  On a related note, it's entirely possible that that Google would want to sponsor continued development of gpython (it ma

[2021-11-17 01:45] xiaxinmeng opened #142 "set(range(100)) behaves different with CPython and crashes gpython"
CPython can well handle the following program test.py, while gpython cannot transform it automatically.

test.py
'''
s = set(range(100))
'''

Crashing Information:
gpython test.py
'''
panic: interface conversion: py.Object is *py.Range, not py.Tuple

goroutine 1 [running]:
github.com/go-python/gpython/py.SetNew(0xc0000d50e0, 0xc0000dceb0, 0x1, 0x2, 0x0, 0x6abfc0, 0xc0000cc680, 0xc0000f7610, 0x40bc

[2021-11-17 01:59] xiaxinmeng opened #143 "Recursive call crashes gpython"
We define a function and recursive call the function in test.py crashing gpython. This case cannot crash CPython and it reports a RecursionError.

test.py:
[code]

Expected output: RecursionError

Actual output:
runtime: goroutine stack exceeds 1000000000-byte limit
fatal error: stack overflow

runtime stack:
runtime.throw(0x66c609, 0xe)
	/opt/go/go1.11/src/runtime/panic.go:608 +0x72
runtime.newst

[2021-11-17 04:59] raff commented on #142
This works fine on MacOS with gpython from master branch and it also work on Ubuntu 20.04, even if the result is different than CPython (in CPython the set is sorted, in gpython the order changes every time I print, probably an issue of sets being implemented as a map)

[2021-11-17 05:35] raff commented on #143
A couple of way to fix this:
1) recover from the panic and generate the RecursionError exception
2) implement the recursion check in Vm.Call, similar to CPython (add a counter for pending calls in the Vm struct, increment/decrement in Vm.Call and generate the RecursionError when the limit is reached).

[2021-11-17 05:41] raff commented on #143
The 2nd method would probably be better since CPython has a limit of 1000 nested calls (by default) while gpython runs until it runs out of memory.

[2021-11-23 11:49] sbinet commented on #142
strictly speaking, I don't see why `set` output should be sorted.
according to:
- https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
[code]
_(emphasis, mine)_

[2021-11-23 11:49] sbinet commented on #142
tentatively closing this as invalid (I also couldn't reproduce on `master`)

[2021-11-23 11:49] #142 closed

[2021-12-31 19:59] a1c9lll opened #145 "Call function from Go"
Hi, I haven't dug too deep into the code, but I haven't found what I'm looking for.

Is it possible to find a python function from Go and call it?

[2021-12-31 22:24] #145 closed

[2022-01-07 16:14] miathedev commented on #138
My question is similar. I would like to execute methods of a Python script from my Golang application.
Is that possible in a easy way? I need something more high-level fashioned.

[2022-01-10 18:05] drew-512 commented on #138
In the coming days I'll PR the main README and add updated docs and snippets for newcomers to more easily get up and running.

[2022-01-26 16:54] drew-512 commented on #91
I've fixed this and expanded the print coverage tests and is looking good.  See [7d2a8d9](https://github.com/go-python/gpython/pull/144/commits/7d2a8d9a28639565862ca5ff915f3697d294e6cb).

Hopefully, we'll see this merged shortly via [PR144](https://github.com/go-python/gpython/pull/144)

[2022-01-26 16:58] drew-512 commented on #132
Multi interpreter instances ("contexts") are supported with [PR144](https://github.com/go-python/gpython/pull/144).  This opens the door to many possibilities.

[2022-02-08 21:14] williammortl opened #161 "Broken, SIGSEGV"
The current repo is broken...

after "go build"

[code]

Seems to be context related from line 49

[2022-02-08 21:44] sbinet commented on #161
thanls for the report.
this should be fixed w/ #162.

we ought to do a better job at testing the `gpython` binary...

[2022-02-08 21:47] williammortl commented on #161
@sbinet no worries! I'm going to be around here a lot, as I am packaging gpython into a plugin as part of a new type of compute cluster that I am creating for my PhD dissertation!

[2022-02-08 22:36] sbinet commented on #161
sounds fun :)
(and welcome)

[2022-02-08 22:37] #161 closed

[2022-02-13 11:07] sbinet commented on #138
fixed w/ https://github.com/go-python/gpython/pull/159

[2022-02-13 11:07] #138 closed

[2022-02-14 17:57] drew-512 commented on #143
Out of curiosity, this is a lot of effort for an issue that seems a second place to many other areas of potential improvement for gpython.    Perhaps there something I'm missing?  I do agree it's not helpful to be able to run python in gpython that induces a crash, but there are many things that may do that.

If @sbinet is interested, I can work on a PR for this if we agree this is worth adding.

[2022-02-16 19:26] drew-512 commented on #132
@sbinet I move to close this as resolved with v0.1.0 (`py.Context`) now live.

[2022-02-16 19:51] sbinet commented on #132
fixed w/ #158

[2022-02-16 19:51] #132 closed

[2022-02-16 19:54] drew-512 commented on #116
Waiting on response from @slongfield

https://github.com/slongfield/pyfmt/issues/15

[2022-02-16 20:12] drew-512 opened #166 "Upcoming gpython worklist"
Below is my upcoming worklist I plan to take on.  @sbinet @ncw, please lmk what sized bites you want me to PR these in.  Small pieces, or perhaps separated by area (tests vs package py vs examples), or separated by items:

1. Add stack limit value to `py.ContextOpts` ([Issue 143](https://github.com/go-python/gpython/issues/143))
2. Additions to `py.utils`, including funcs that use `reflect` to aut

[2022-02-16 20:28] drew-512 commented on #64
I suggest to close this issue with the push of `v0.1.0` (multi-context support)

[2022-02-16 20:37] drew-512 commented on #69
addressed w/ https://github.com/go-python/gpython/pull/158

[2022-02-16 20:41] drew-512 commented on #93
fixed w/ https://github.com/go-python/gpython/pull/151

[2022-02-16 20:55] drew-512 commented on #64
@yanchenghust v0.1.0 introduces `py.Context` which is the best-case scenario for concurrent interpreter execution while also aligned with Go programming patterns.  For example, for each goroutine that needs to service a py script, call:
[code]

[2022-02-16 21:32] drew-512 commented on #58
suggest @sbinet close -- addressed in https://github.com/go-python/gpython/pull/65

[2022-02-16 21:33] drew-512 commented on #49
recommend @sbinet close -- addressed in https://github.com/go-python/gpython/pull/50

[2022-02-16 21:36] drew-512 commented on #91
suggest @sbinet close -- fixed w/ https://github.com/go-python/gpython/pull/151

[2022-02-22 08:19] sbinet commented on #64
fixed w/ #158

[2022-02-22 08:20] #64 closed

[2022-02-22 08:20] sbinet commented on #69
fixed w/ #158.

[2022-02-22 08:20] #69 closed

[2022-02-22 08:20] sbinet commented on #93
fixed w/ #151.

[2022-02-22 08:20] #93 closed

[2022-02-22 08:22] sbinet commented on #58
fixed w/ #65 .

[2022-02-22 08:22] #58 closed

[2022-02-22 08:24] sbinet commented on #91
fixed w/ #151.

[2022-02-22 08:24] #91 closed

[2022-02-22 08:48] sbinet commented on #166
the work plan SGTM.

as for the `pyfmt` work, I am a bit worried that there might be some impedance mismatch: `pyfmt` seems to have been written to bring the `.format` facilities to Go, which may not be completely the same than implementing the `.format` facilities in Go for Python. also, the main dev seem to have moved one and we may not get fixes upstream.
the licenses being compatible (BSD-3),

[2022-02-22 18:11] drew-512 commented on #166
Great points!  That evaluation probably saves me a lot of time and process.

Ok, great.  Lmk if you have a preference on me doing that sooner or later, otherwise, I'll stick with (7) so we can build momentum towards that (and will be a nice reward).  I def think the repo will look and feel tighter and cleaner with that simple reorg.

Ha, I wasn't even thinking about dylib support, and more just fo

[2022-02-22 18:16] drew-512 commented on #10
recommend @sbinet close -- addressed w/ https://github.com/go-python/gpython/pull/163

[2022-02-22 19:10] drew-512 opened #167 "Revise gpython 'About'?"
@sbinet @ncw and anyone interested...

Currently, gpython's 'About' line on github is:

After the [upcoming worklist](https://github.com/go-python/gpython/issues/166), I think it would be good time to consider shifting this project's tagline to something that speaks to its strengths and how it offers value now and future forward.   I see gpython as a leading choice for a Go developers looking for

[2022-03-15 22:25] glaukiol1 opened #168 "How would i go about writing a new module?"
Hi

I want to contribute to this project by writing a module; specifically the JSON module (the one that is in python's standard library). I have seen the source code and have an idea of how I should go about this. So my question is; do I create a folder and put the .go file in there? Something like `json/json.go`? Also any tips on writing modules would help, thanks!

[2022-03-16 00:00] drew-512 commented on #168
Hi friend, have you looked at the 'Vacation' embedded module example?  That should demonstrate all the things you're looking for.  Feel free to ask specific questions here.

Drew

[2022-03-16 00:22] raff commented on #168
The math package also implements Python "math". Look for the init method at the bottom, where it registers the module: https://github.com/go-python/gpython/blob/master/math/math.go#L1290

[2022-03-16 13:51] glaukiol1 commented on #168
Im stuck on converting a Go map[string]interface{} to a py.StringDict. Any help?

[2022-03-16 19:29] glaukiol1 commented on #168
@raff @drew-512

[2022-03-17 11:42] #168 closed

[2022-03-17 21:04] glaukiol1 opened #170 "builtin: input() function not defined."
There should definitely be a `input()` function; to get user input. This would be implemented in the `builtin` function.

Doc in *docs.python.org*;

If the prompt argument is present, it is written to standard output without a trailing newline. The function then reads a line from input, converts it to a string (stripping a trailing newline), and returns that. When EOF is read, [EOFError](https://d

[2022-04-10 19:24] Tatskaari commented on #136
I'll post this here too: https://github.com/10XGenomics/gpython/commit/9c8103a92772502e7391d9cd8dba0b9a38659c9b

Managed to get to the bottom of this. You had changed the order in which we push args to the stack. Just need to make sure the kwargs and varargs stuff is last.

[2022-04-10 20:07] Tatskaari opened #178 "Getting started on asyncio"
The co-routine op codes are required for python3.5 which is the next language feature to support. They can be found here: https://docs.python.org/3/library/dis.html#opcode-GET_AWAITABLE

A basic example program looks like:

[code]

And produces the following bytecode:

[code]

The byte code of calling the functions is actually unchanged. The functions marked with `async` just have to return a co-r

[2022-05-25 07:47] sbinet commented on #139
I've collect #188 that added `str.find`.
what are the other methods you'd need?

[2022-10-04 21:18] drew-512 commented on #167
Thoughts on:  _a Python interpreter in Go, expanding possibilities your packages_

Other suggestions welcome!

[2022-10-04 21:25] drew-512 commented on #166
Hi @sbinet and all, I hope you've been having a prosperous summer and may blessings be with everyone.

In the coming several weeks, I'll be knocking out golden tests for the multi-context example along with some of the remaining items above.

With that done, I think we'll be at a great point to:
  - update the [project tagline](https://github.com/go-python/gpython/issues/167) with something a litt

[2022-10-06 16:10] ncw commented on #167
I made this tagline so that people would know that gpython wasn't a drop in replacement for python!

How about something like

???

[2022-11-06 04:18] alecthomas opened #195 "Release binaries missing for 0.1.0"
It would be most appreciated if these could be uploaded 🙏

[2022-11-19 11:24] wilbertom opened #196 "Instance variables"
Is there a way to access instance variables from Python.

For example, say I have go struct:

[code]

Is there a way to access struct members in python:

[code]